.Homepage {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}

.HomepageContainer p{
    display: block;
    margin: 0 auto; 
    width: 300px;
    padding-top: 40px;   
    color: black;
    line-height: 2em;
    font-size: 18px;
    color: grey;
    opacity: 0.6;
}

.Container2{
    display: flex;
    flex-direction: row;
    padding: 0 50px;
    margin-bottom: 50px;
}

.IntroContainer {
    width: 50%;
}

.SkillsContainer{
    width: 50%;
    display: block;
    margin: 0 auto;
    padding: 25px 0;
    
}
.HomePageContainer {
    width: 100%;
    margin: auto;
    position: relative;
    height: 100%;
    min-height: 100vh;
    overflow: none;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    background: url("../../assets/images/cover.png") center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;

    -webkit-animation: fadein 1s; /* Safari and Chrome */
            -moz-animation: fadein 1s; /* Firefox */
            -ms-animation: fadein 1s; /* Internet Explorer */
            -o-animation: fadein 1s; /* Opera */

    /* background-repeat: no-repeat; */
}

.DescriptionContainer{
    width: 100%;
    margin: auto;
    position: relative;
    height: 100%;
    overflow: none;
    font-weight: bold;
    font-size: 1.2rem;
    /* background: url("../../assets/images/cover.png") center; */
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    padding: 0px;
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -moz-animation: fadein 1s; /* Firefox */
    -ms-animation: fadein 1s; /* Internet Explorer */
    -o-animation: fadein 1s; /* Opera */
}

.DescriptionWrapper{
    width: 80%;
    margin: 120px auto 80px;
    display: flex;
    justify-content: space-between;
}

.DescriptionImage{
    width: 45%;
    display: block;
    height: auto;
}

.DescriptionImage img{
    width: 100%;
}

.Description{
    width: 40%;
    margin: auto;
    height: fit-content;
    text-align: left;
    padding: 20px 10px 30px;
}

.Description h1 {
    margin: 10px 0;
    font-size: 2.1em;
}

.Description p{
    display: block;
    margin: 0 auto; 
    color: black;
    line-height: 2em;
    font-size: 16px;
    font-weight: normal;
}

@media screen and (max-width: 900px){
    .DescriptionContainer{
        width: 100%;
        padding: 0px;
    }

    .DescriptionImage{
        width: 100%;
        max-width: 450px;
        margin: auto;
    }

    .Description{
        width: 100%;
        max-width: 450px;
        padding: 0;
        margin-top: 20px;
    }

    .Description h1{
        font-size: 1.2em;
    }

    .DescriptionWrapper{
        flex-direction: column;
        margin: 40px auto 10px;
        width: 90%;
    }
}

@media screen and (max-width: 500px){
    .HomePageContainer {
        height: 70vh;
        min-height: initial;
    }

    .Container2 {
        flex-direction: column;
        padding: 0 20px;
    }

    .IntroContainer {
        width: 100%;
    }

    .SkillsContainer{
        width: 90%;
    }
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
