@import 'variables.scss';

.Toolbar {
    height: 100px;
    width: 100%;
    padding: 50px;
    // background-color: $lightnavy;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    position: fixed;
    top: 0px;
    box-sizing: border-box;
    background-color: transparent;
    z-index: 90;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
    @media screen and (max-width: $tabletBreak){
        background-color: $lightnavy;
    }    
    @media screen and (min-width: $tabletBreak){
        &.Scrolled{
            background-color: white;
            box-shadow: 1px 1px #d3d3d3;
            -webkit-transition: background-color 200ms linear;
            -ms-transition: background-color 200ms linear;
            transition: background-color 200ms linear;
            a{
                color: $darknavy !important;
            }
        }
    }
    nav{
        height: 100%;
    }
    
    .DesktopOnly {
        display: block;
        position: relative;
        width: 100%;
    }

    .my-logo {
        width: 100px;
        display: block;
        top: -3px;
        position: absolute;
        z-index: inherit;
        margin-left: 10vw;
        img{
            width: 100%;
        }
        @media screen and (max-width: $tabletBreak) {
            margin-left: 25px;
            top: 0;
            height: 100%;
        }
    }

    .NavigationItems {
        margin: 0;
        right: 10vw;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
        position: absolute;
        height: 100%;
        flex-flow: row;
        .NavigationItem {
            margin: auto;
            box-sizing: border-box;
            display: block;
            width: 90%;
            padding: 20px;
            .NavLink {
                display: block;
                margin: 0 auto;
                width: 80%;
                text-align: center;
                color: white;
                text-decoration: none;
                width: 100%;
                box-sizing: border-box;
                display: block;
                font-size: 22px;
                padding: 15px 10px;
                margin: auto;
                &:hover, &:active, &.active{
                    color: $lightorange;
                    border: none;
                }
            }
        }
    }
    
    a{
        cursor: pointer;
    }
    
    .DrawerToggle {
        width: 40px;
        height: fit-content;
        align-items: center;
        padding: 10px 0;
        margin-left: 5px;
        position: absolute;
        right: 20px;
        top: 20px;
        box-sizing: border-box;
        cursor: pointer;
        @media (min-width: $tabletBreak) {
            display: none;
        }
    }

    .Burger{
        margin-top: 20px;
        position:relative;
        width: 40px;
        height: 3px;
        background: white;
        transform-origin: center;
        &::before, &::after{
            position:absolute;
            width:inherit;
            height:inherit;
            background: inherit;
            content: '';
            transform: rotate(0deg);
            transition-duration: 0.15s;
        }
        &::before{
            top: -12px;
        }
        &::after{
            bottom: -12px;
        }
    }
    
    .Burger.active {
        background-color: transparent;
    }
    
    .Burger.active:before, .Burger.active:after {
        background-color: #5db65f;
        top: 0;
        transition-duration: 0.15s;
    }
    .Burger.active:before { transform: rotate(45deg); }
    .Burger.active:after { transform: rotate(-45deg); }
    
    @media (max-width: $tabletBreak) {
        .DesktopOnly {
            display: none;
        }
        
        .Toolbar {
            height: 95px;
            top: 0px;
            position: absolute;
            z-index: 99999;
            background-color: $lightnavy;
        }
    
        .Logo{
            display: block;
            width: 95px;
            margin-top: 0px;
            margin-left: 5px;
            cursor: pointer;
        }
    }
}

.SideDrawer {
    position: fixed;
    width: 95vw;
    height: fit-content;
    left: 0;
    top: 0;
    z-index: 200;
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
    transition: transform 0.3s;
    @media (min-width: $tabletBreak) {
        display: none;
    }
    &.Open {
        transform: translate(-50%, 0);
        top: 95px;
        left: 50%;
    }
    
    &.Close {
        transform: translateY(-100%);
    }
    .NavigationItems {
        list-style: none;
        display: flex;
        align-items: center;
        flex-flow: column;
        padding: 0;
        .NavigationItem {
            margin: auto;
            box-sizing: border-box;
            display: block;
            width: 90%;
            padding: 10px 20px;
            .NavLink {
                display: block;
                margin: 0 auto;
                width: 100%;
                text-align: center;
                color: $darknavy;
                text-decoration: none;
                width: 100%;
                box-sizing: border-box;
                font-size: 22px;
                font-family: 'Poppins Regular';
                padding: 15px 10px;
                margin: auto;
                &:hover, &:active, &.active{
                    color: $lightorange;
                    border: 1px solid $lightorange;
                }
            }
        }
    }
}

.selected {
    border: 1px #0054a4 solid;
}

.Backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    left: 0;
    display: block;
    top: 0;
    background-color: rgba(0, 0, 0, 0.65);
    @media (min-width: $tabletBreak) {
        display: none;
    }
}

.Footer{
    background-color: $lightnavy;
    position: relative;
    padding: 35px 0;
    margin-top: 0;
    height: fit-content;
    overflow: none;
    text-align: center;
    font-family: "Roboto";
    align-items: center;
    .FooterDiv{
        display: block;
        margin: 0 auto;
        width: fit-content;
        p{
            color: white;
            font-family: 'Source Sans Pro';
        }
        .FooterContainer{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            .footerImage {
                margin-top: 20px;
                padding: 0 20px;
                justify-content: space-between;
                text-align: center;
                font-size: 30px;
                img {
                    width: 35px;    
                }
            }
        }
    }
}

.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 80%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    /* padding: 16px; */
    left: 10%;
    height: fit-content;
    top: 10%;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

@media (min-width: 600px) {
    .Modal {
        width: 50%;
        left: calc(45% - 250px);
        height: fit-content;
        top: 10%;
    }
}