.project {
    background-color: #f1f1f1;
    margin: 30px 0;
    text-align: center;
    font-size: 30px;
    width: 100%;
    max-width: 450px;
    height: 280px;
}

.project:hover{
    animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
  background-color: #141C3A;
  opacity: 1;
}

.project img {
    width: 100%;
}

.project:hover > img{
    z-index: -9999;
    width: 100%;
    animation: fadeOut 0.1s;
    opacity: 0;
    display: none;
}

.ProjectDesc{
    color: white;
    opacity: 0;
    display: none;
    font-size: 18px;
    padding: 15px;
}

.project:hover > .ProjectDesc{
    display: block;
    opacity: 1;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
  
 @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

  @keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}
  
 @-moz-keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
  }
  
  @-webkit-keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
  }
  
  @-o-keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
  }
  
  @-ms-keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
  }

@media screen and (max-width: 900px){
    .project {
        margin-bottom: 20px;
        height: auto;
        flex: 0 0 45%;
    }
}

@media screen and (max-width: 500px){
    .project {
        margin-bottom: 20px;
        height: auto;
        flex: 0 0 45%;
    }
    
    .project img {
        width: 300px;
        height: auto;
    }
}