.NavigationItems {
    margin: 0;
    padding: 0;
    margin-left: 0px;
    list-style: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    position: relative;
    height: 100%;
}

.Logo {
    width: 110px;
    position: absolute;
    margin-left: -13vw;
    margin-top: -55px;
}

a{
    cursor: pointer;
}

@media (min-width: 800px) {
    .NavigationItems {
        flex-flow: row;
    }
}

@media screen and (max-width: 800px){
    .Logo{
        display: none;
    }
}