.Homepage {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}

.HomepageContainer{
    display: block;
    height: 100vh;
    width: 100%;
    overflow: none;
    text-align: center;
    align-items: center;
    position: relative;
    background: url("../../assets/images/cover.png") center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    /* background-repeat: no-repeat; */
    background-color: teal;
    -webkit-animation: fadein 1s; /* Safari and Chrome */
            -moz-animation: fadein 1s; /* Firefox */
            -ms-animation: fadein 1s; /* Internet Explorer */
            -o-animation: fadein 1s; /* Opera */
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.HomepageContainer .title{
    display: block;
    position: absolute;
    top: 20%;
    /* margin-top: -40px; */
    left: 150px;
    /* padding: 1px; */
    width: 700px;
    color: white;
    font-weight: bold;
    font-size: 4.5em;
    line-height: 1.6em;
    text-align: left;
    font-family: 'Bariol';
    /* background-color: #0054a4; */
}

.HomepageContainer .title h3{
    font-weight: 100;
}

@media screen and (max-width: 500px) {
    .HomepageContainer{
        height: 70vh;
    }

    .HomepageContainer .name {
        padding-top: 50px;
        font-size: 0.80em;
    }

    .HomepageContainer .title {
        font-size: 30px !important;
        width: 80%;
        position: relative;
        left: initial;
        margin: auto;
    }
}

@media screen and (max-width: 380px) {
    .HomepageContainer .name {
        font-size: 0.65em; 
    }
}

.InstagramFeed{
    padding: 60px 50px;
    margin: 20px auto 70px;
    height: fit-content;
    text-align: center;
    background: #F0F0F0
}

.InstagramFeed h1{
    margin-bottom: 50px;
}

.Feed{
    display: flex;
    flex-wrap: wrap;
    margin-top: 35px;
    justify-content:  space-evenly;
}

.Photo {
    width: fit-content;
    flex: 1 1 25%;
    position: relative;
}

@media screen and (max-width: 500px){
    .Photo{
        flex: initial;
        width: 100%;
        max-width: 100%;
        height: auto;
        max-height: auto;
        margin-right: 0;
        padding-right: 0;
    }

    .InstagramFeed h1{
        margin-bottom: 20px;
    }
}

.Photo img {
    width: 100%;
    max-width: 420px;
    max-height: 480px;
    margin-bottom: 15px;
    margin-right: 10px;
}

.FollowInstagram a{
    width: fit-content;
    padding: 20px 30px;
    display: block;
    margin: 10px auto;
    border: 1px solid #e1a87a;
    font-size: 1em;
    color: #e1a87a;
    letter-spacing: 1.3px;
    cursor: pointer;
}

.FollowInstagram a:hover{
    background: #e1a87a;
    color: white;
}

a:visited,
a:link,
a:hover,
a:active{
    /* color: white; */
    text-decoration: none;
}